# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log